{% extends "base.html" %}

{% block content %}

    <h1>Search</h1>
        <form action="" method="POST" novalidate>
            <div>
                <b>Patient Name: </b>{{patient_first_name}} {{patient_last_name}}
            </p>
            <p>
                <b>Treatment Notes: </b>{{patient_treatment_notes}}
            </p>
            <p>
                {{patient_treatment_form.treatment_notes.label}}<br>
                {{ patient_treatment_form.treatment_notes(size=32) }}<br>
                {% for error in patient_treatment_form.treatment_notes.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ patient_treatment_form.submit() }}</p>
            </div>
        </form>
{% endblock %}