{% extends "base.html" %}

{% block content %}

<h1>Validate Patient</h1>
<div><p>Please validate the patient information. Click 'Edit' if you need to change info.</p></div>

    <div><p> 
        <b>Patient Name: </b>{{last_patient.first_name}} {{last_patient.last_name}}
    </p>

    <p>
        <b>Patient Mobile Number: </b>{{last_patient.mobile_phone}}
    </p>
    <p>
        <b>Patient SSN: </b>{{last_patient.ssn}}
    </p>
    <p>
        <b>Patient Diagnosis: </b>{{last_patient.diagnosis}}
    </p>
    <p>
        <b>Patient Treatment Notes: </b>{{last_patient.treatment_notes}}
    </p>
    <p>
        <b>Patient Insurance: </b>{{last_patient.insurance}}
    </p>

    <a href="{{url_for('index')}}">Confirm</a>
    <a href="{{url_for('revise')}}">Edit</a>



    </div>

{% endblock %}