{% extends "base.html" %}

{% block content %}

    {% for patient in patient_list %}
        <div>
        <p>
            <b>Patient #: </b>{{loop.index}}
        </p>

        <p>
            <b>Patient Name: </b>{{patient.first_name}} {{patient.last_name}}
        </p>
        
        <p>
            <b>Patient SSN: </b>{{patient.ssn}}   
        </p>
    
        <p>
            <b>Patient Mobile Phone Number: </b>{{patient.mobile_phone}}   
        </p>
    
        <p>
            <b>Patient Diagnosis: </b>{{patient.diagnosis}}   
        </p>
                  
        <p>
            <b>Patient Treatment Notes: </b>{{patient.treatment_notes}}
        </p>

        <p>
            <b>Patient Insurance Provider: </b>{{patient.insurance}}   
        </p>
        
    </div>

    {% endfor %}

{% endblock %}