{% extends "base.html" %}

{% block content %}

    <h1>Search</h1>
        <form action="" method="GET" novalidate>
            
            <div>
                <p>
                    <b>Patient Name: </b>{{patient_first_name}} {{patient_last_name}}
                </p>
                <p>
                    <b>Treatment Notes: </b>{{patient_treatment_notes}}
                </p>
                <p><a href="{{ url_for('add_treatment', first_name=patient_first_name, last_name=patient_last_name, treatment_notes=patient_treatment_notes) }}">Add treatment notes</a></p>
            </div>
        </form>
{% endblock %}