{% extends "base.html" %}

{% block content %}
    <h1>Validate Patient</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}<br>
            {% for error in form.first_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}<br>
            {% for error in form.last_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ssn.label }}<br>
            {{ form.ssn(size=9) }}<br>
            {% for error in form.ssn.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.mobile_phone.label }}<br>
            {{ form.mobile_phone(size=64) }}<br>
            {% for error in form.mobile_phone.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.diagnosis.label }}<br>
            {{ form.diagnosis(size=32) }}<br>
            {% for error in form.diagnosis.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.treatment_notes.label }}<br>
            {{ form.treatment_notes(size=32) }}<br>
            {% for error in form.treatment_notes.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.insurance.label }}<br>
            {{ form.insurance(size=32) }}<br>
            {% for error in form.insurance.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}