{% extends "base.html" %}

{% block content %}

    <h1>Search</h1>
    <div>
        <form action="" method="post">
            <p> 
                {{ search_form.first_name.label }}<br>
                {{ search_form.first_name(size=32) }}<br>
                {% for error in search_form.first_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ search_form.last_name.label }}<br>
                {{ search_form.last_name(size=32) }}<br>
                {% for error in search_form.last_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ search_form.submit() }}</p>
        </form>
    </div>
        
{% endblock %}